<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Welcome to the Home Page</h1>
        <p>This is the home page of the Angular 2 application. This is the first page that the user will see when they visit the site. This page will contain a brief introduction to the site and what the site is about. This page will also contain links to other pages on the site.</p>
    </div>
    <!--Searchbox bên trái, combobox bên phải -->
    <div class="search-box">
        <input type="text" placeholder="Tìm sản phẩm" class="form-control search-input">
        <select name="category" id="category" class="form-control product-category">
            <option value="" selected disabled>Danh mục sản phẩm</option>
            <option value="electronics">Electronics</option>
            <option value="clothing">Clothing</option>
            <option value="books">Books</option>
            <option value="toys">Toys</option>
        </select>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4047435/pexels-photo-4047435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price"><del>$100</del> $200</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4047435/pexels-photo-4047435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price"><del>$100</del> $200</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4047435/pexels-photo-4047435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price"><del>$100</del> $200</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4047435/pexels-photo-4047435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price"><del>$100</del> $200</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4047435/pexels-photo-4047435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price"><del>$100</del> $200</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>